<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true" cacheResult="true" cacheResultFile="">
    <testsuites>
        <testsuite name="BareAPI Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="Bareapi\Kernel"/>
    </php>
</phpunit>
