<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheResult="true">
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="Bareapi\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="API_KEY" value="test-api-key-for-ci"/>
    </php>
</phpunit>
